// Font
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,700|DM+Serif+Display');

// Bootstrap
@import 'bootstrap-variables';
@import 'bootstrap/bootstrap-grid';
@import 'variables';
@import 'bootstrap/mixins';
@import 'bootstrap/utilities';

// Libraries
@import 'libraries/hamburgers/hamburgers';

// Components
@import 'components/reset';
@import 'components/type';
@import 'components/page';
@import 'components/header';
@import 'components/footer';
@import 'components/sub-footer';
@import 'components/logo';
@import 'components/main-menu';
@import 'components/main-menu-mobile';
@import 'components/hamburger';
@import 'components/buttons';
@import 'components/call';
@import 'components/title';
@import 'components/content';
@import 'components/intro';
@import 'components/strip';
@import 'components/whitebox';
@import 'components/feature';

// Pages
@import 'pages/home';
@import 'pages/team/page-team-list';
@import 'pages/team/team-summary';
@import 'pages/services/page-services-list';
@import 'pages/services/page-services-single';
@import 'pages/services/service-summary';

body {
  font-size: 17px;
  line-height: 1.2;
  font-family: $font-family-base;
}

strong {
  font-weight: bold;
}

ul {
  list-style: disc;
  padding-left: 40px;
}

ol{
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

*{box-sizing:border-box;}

form{
	width:500px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:100%;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:100%;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}