<div class="call">
  <div class="call-box-top">
    <div class="call-phone"><strong>Mastodon: </strong>
        <a rel="me" href="{{ .Site.Data.contact.mastodonurl }}">{{ .Site.Data.contact.mastodon }}</a>
      </div>
    <div class="call-phone"><strong>Twitter: </strong>
        <a href="{{ .Site.Data.contact.twitterurl }}">{{ .Site.Data.contact.twitter }}</a>
      </div>
    <div class="call-email"><strong>Correo: </strong>
      <a href="mailto:{{ .Site.Data.contact.email }}">
        {{ .Site.Data.contact.email }}
      </a>
    </div>
  </div>
  <div class="call-box-bottom">
    <a href="{{ .Site.BaseURL }}contacto" class="button">Contacto</a>
  </div>
</div>
