<br />
  <div class="call-box-top">
    El miércoles 24 de junio tuvo lugar el segundo evento online de la metacomunidad SVQtech. <br />
    SVQtech está compuesta por más de 20 comunidades comprometidas con la difusión de la <br />
    tecnología y la promoción del talento en la ciudad de Sevilla.<br /><br />
    
    Durante dos horas, más de 200 personas se conectaron al streaming que acumula ya más <br />
    de 2500 visualizaciones. Durante el directo, se hizo una pequeña introducción al <br />
    proyecto SVQtech para dar paso a ocho microcharlas impartidas por expertos/as en <br />
    programación, inteligencia artificial y desarrollo web.<br /><br />

    En el formato de “lighting talks” o mini conferencias, los asistentes pudieron <br />
    aprender sobre lenguajes como Javascript y R o cómo gestionar el flujo de desarrollo <br />
    de software usando la metodología Agile. También se dieron a conocer los proyectos <br />
    llevados a cabo por las comunidades TypeScript o Saturdays.AI de Sevilla al tiempo que <br />
    se explicaron nuevos plugins para desarrollo en Ruby o por qué los tests son tan <br />
    necesarios a la hora de desarrollar software y aplicaciones.<br /><br />

    Si te perdiste alguna de las charlas y quieres volver a ver la sesión completa, entra<br /> en el siguiente enlace: <br /><br />
    <br />
    <a href="https://youtu.be/1IqDtlUv3gA">Ver el evento en Youtube</a>
    
     <br /> <br />
  </div>

    <a href="{{ .Site.BaseURL }}evento" class="button">Más información</a>

</div>