<br />
  <div class="call-box-top">
    El <strong>próximo miércoles 24 de abril a las 18h</strong> tendrá lugar el segundo evento online de SVQTech dónde las <br />
    comunidades que no se presentaron en el primer evento tendrán oportunidad de hacerlo. Otro evento <br />
    online gratuito dónde podrás conocer el proyecto y a las mejores comunidades tecnológicas de la <br />
    ciudad en ocho charlas sobre tecnologías punteras impartidas por las comunidades.
    <br />
    El objetivo de SVQtech es convertir a Sevilla en el referente dentro de Andalucía de ciudad<br />
    cosmopolita e innovadora que impulsa el talento y la difusión de la tecnología en la sociedad.<br />
    <br />
    SVQtech es una comunidad que nace de la unión de 16 comunidades tecnológicas basadas en<br />
    Sevilla que llevan años promoviendo y colaborando juntas para crear redes entre profesionales<br />
    de la tecnología y del mundo del software así como para facilitar a diferentes sectores de la<br />
    sociedad el acceso a la tecnología.<br />
    <br />
    El <strong>miércoles 15 de abril de 2020 a las 18h</strong>, tuvo lugar presentación de la comunidad SVQtech.<br />
    Un evento online gratuito en el que los asistentes pudieron conocer los objetivos del proyecto,<br />
    el manifiesto de la comunidad y asistir a un total de ocho charlas sobre tecnología impartidas<br />
    por profesionales del sector de la programación, desarrollo de software y ciberseguridad. <br />
    <br />
    <a href="https://www.youtube.com/watch?v=tTJS1ObGAz0">Ver el evento en Youtube</a>
    
     <br /> <br />
  </div>

    <a href="{{ .Site.BaseURL }}evento" class="button">Más información</a>

</div>