<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li><strong>Twitter: </strong><a href="{{ .Site.Data.contact.twitterurl }}">{{ .Site.Data.contact.twitter }}</a></li>
            <li><strong>Correo: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
                {{ .Site.Data.contact.email }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>